@charset "UTF-8";
body {
    background-color: #F8F8F8;
    font-family:'メイリオ', 'Meiryo', sans-serif;
    margin: 0;
    padding-top: 153px;
}

/*ヘッダーのCSS*/
/*スクロールでヘッダーを隠す */
.header {
	background-color: #F8F8F8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .4s ease;
    transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    transition: transform .4s ease, -webkit-transform .4s ease;
    z-index: 10000;
}

.header--unpinned {
  -webkit-transform: translateY(-150%);
  transform: translateY(-150%);
}

/*G＆Aアイコン、ユーザーネーム、時間表示、ログアウトアイコンのデザイン*/
.images-icon {
    display: flex;
}

#icon-main {
    width: 150px;
    height: 100px;
    margin-right: 200px;
    align-items: left;
    position: relative;
    z-index: 100;
}
.text-header {
    text-align: center;
    font-size: 24px;
    display: flex;
    height: 50px;
    align-items: center;
   margin-top: auto;
   margin-bottom: 0px;
    /*margin-left: 50px;*/
}
#text-username {
    margin: 0px 50px 0px 20px;
}
#text-time {
    margin-bottom: 0px;
    margin-left: 20px;
}
#icon-logout {
    width: 120px;
    height: 50px;

}
#box-logout {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 5px;
    width: 120px;
    height: 40px;
}




/*ここからメニューバーのCSS*/
.menu-flex {
    display: flex;
    list-style: none;
    margin-right: auto;
    margin-top: 0%;
    margin-bottom: 0%;
    align-items: center;
    padding: 0%;
}

#text_menu {
    margin: 0;
    height: auto;
    width: 100%;
    background-color: #3C3B6E;
  }
  #menu-in-icon {
    height:30px;
    margin-top: 2%;
  }
  #box-menu {
    font-size: 20px;
    width: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 0px;
    vertical-align: auto;
    text-align: center;
  }
  #first-text {
    color: #B22234;
    font-size: 30px;
    font-weight: 600;
  }
    #second-text {
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
.link-menu {
    text-decoration: none;
}