@charset "UTF-8";

/*calendar.html*/
.wrapper-calendar {
	margin: 0 auto;
	max-width: 630px;
}

.wrapper-calendar .wrapper {
	margin: 0 auto;
	color: #666;
}

.wrapper-calendar #header-title {
	text-align: center;
	font-size: 24px;
	width: 100%;
	margin: 1rem 0 0;
}

.wrapper-calendar #calendar {
	text-align: center;
	width: 100%;
}

.wrapper-calendar table {
	outline: 2px solid #ddd;
	border-collapse: collapse;
	width: 100%;
}

.wrapper-calendar th {
	color: #000;
}

.wrapper-calendar th,
.wrapper-calendar td {
	outline: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 50px;
}

.wrapper-calendar a {
	color:inherit;
	text-decoration: none;
}

.wrapper-calendar td.today .day-schedule {
	color: #fff;
	font-size: 16px;

}

.wrapper-calendar td.other .day-schedule {
	color: gray;
	font-size: 16px;
}

/*日曜日*/
.wrapper-calendar td:first-child {
	color: red;
}

/*土曜日*/
.wrapper-calendar td:last-child {
	color: blue;
}

/*前後月の日付*/
.wrapper-calendar td.disabled {
	color: #ccc;
}

/*本日*/
.wrapper-calendar td.today {
	background-color: #ff9191;
	color: #fff;
}

/*ボタン*/
.wrapper-calendar #next-prev-button {
	position: relative;
	margin-bottom: 10px;
}

.wrapper-calendar #next-prev-button button {
	cursor: pointer;
	background: #00a2b7;
	color: #fff;
	border: 1px solid #0aa2b5;
	border-radius: 4px;
	font-size: 1rem;
	padding: 0.5rem 2rem;
}

.wrapper-calendar #next-prev-button button:hover {
	background-color: #abd0d6;
	border-color: #abd0d6;
}

.wrapper-calendar #prev {
	float: left;
}

.wrapper-calendar #next {
	float: right;
}

.wrapper-calendar .footer-container-calendar {
	margin-top: 1em;
	border-top: 1px solid #dadada;
	padding: 10px 0;
}

.wrapper-calendar .footer-container-calendar select {
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	background: #ffffff;
	color: #454545;
	border: 1px solid #bfc5c5;
	border-radius: 3px;
	padding: 5px 1em;
}



/*schedule.html*/
.wrapper-schedule {
	margin: 0 auto;
}

.wrapper-schedule #register-date {
	text-align: center;
}

.wrapper-schedule .time-schedule {
	overflow-y: scroll;
	max-height: 350px;
	max-width: 1000px;
	margin: auto;
}

.wrapper-schedule .time-schedule p {
	overflow: hidden;
	display: flex;
	position: relative;
}

.wrapper-schedule .time {
	display: flex;
	padding: 0 1.5em 0 0.5em;
	position: relative;
	margin-top: 1rem;
}

.wrapper-schedule .time:after {
	border-top: 1px dotted;
	content: "";
	position: absolute;
	top: 50%;
	width: 99em;
}

.wrapper-schedule .time:after {
	left: 100%;
}

.wrapper-schedule .time-schedule input {
	outline: none;
	display: flex;
	position: relative;
	border: none;
	left: 100px;
}

.wrapper-schedule .time-schedule .line {
	background-color: white;
	z-index: 10;
	width: 60%;
	height: 51px;
	margin-bottom: -53px;
}

.wrapper-schedule .time-schedule #schedule-add {
	background-color: red;
	height: 0;
}
.wrapper-schedule .time-schedule .line-add {
	white-space:pre-wrap;
	background-color: lightblue;
	z-index: 20;
	width: 60%;
}

.wrapper-schedule .time-schedule .line0 {
	/*一番上の位置が-1370px*/
	top: -1370px;
}

.wrapper-schedule .time-schedule .line1 {
	/*1時間増えるごとに56px増やす*/
	top: -1314px;
}

.wrapper-schedule .time-schedule .line2 {
	/*1時間増えるごとに56px増やす*/
	top: -1258px;
}

.wrapper-schedule .time-schedule .line3 {
	/*1時間増えるごとに56px増やす*/
	top: -1202px;
}

.wrapper-schedule .time-schedule .line4 {
	/*1時間増えるごとに56px増やす*/
	top: -1146px;
}

.wrapper-schedule .time-schedule .line5 {
    /*1時間増えるごとに56px増やす*/
    top: -1090px;
}

.wrapper-schedule .time-schedule .line6 {
	/*1時間増えるごとに56px増やす*/
	top: -1034px;
}

.wrapper-schedule .time-schedule .line7 {
	/*1時間増えるごとに56px増やす*/
	top: -978px;
}

.wrapper-schedule .time-schedule .line8 {
	/*1時間増えるごとに56px増やす*/
	top: -922px;
}

.wrapper-schedule .time-schedule .line9 {
	/*1時間増えるごとに56px増やす*/
	top: -866px;
}

.wrapper-schedule .time-schedule .line10 {
    /*1時間増えるごとに56px増やす*/
    top: -810px;
}

.wrapper-schedule .time-schedule .line11 {
	/*1時間増えるごとに56px増やす*/
	top: -754px;
}

.wrapper-schedule .time-schedule .line12 {
	/*1時間増えるごとに56px増やす*/
	top: -698px;
}

.wrapper-schedule .time-schedule .line13 {
	/*1時間増えるごとに56px増やす*/
	top: -642px;
}

.wrapper-schedule .time-schedule .line14 {
	/*1時間増えるごとに56px増やす*/
	top: -586px;
}

.wrapper-schedule .time-schedule .line15 {
    /*1時間増えるごとに56px増やす*/
    top: -530px;
}

.wrapper-schedule .time-schedule .line16 {
	/*1時間増えるごとに56px増やす*/
	top: -474px;
}

.wrapper-schedule .time-schedule .line17 {
	/*1時間増えるごとに56px増やす*/
	top: -418px;
}

.wrapper-schedule .time-schedule .line18 {
	/*1時間増えるごとに56px増やす*/
	top: -362px;
}

.wrapper-schedule .time-schedule .line19 {
	/*1時間増えるごとに56px増やす*/
	top: -306px;
}

.wrapper-schedule .time-schedule .line20 {
    /*1時間増えるごとに56px増やす*/
    top: -250px;
}

.wrapper-schedule .time-schedule .line21 {
	/*1時間増えるごとに56px増やす*/
	top: -194px;
}

.wrapper-schedule .time-schedule .line22 {
	/*1時間増えるごとに56px増やす*/
	top: -138px;
}

.wrapper-schedule .time-schedule .line23 {
	/*1時間増えるごとに56px増やす*/
	top: -82px;
}

/*登録用フォーム*/
.wrapper-schedule #form-register-show {
	width: 450px;
	margin-left: auto;
	margin-right: auto;

}

.wrapper-schedule #space-register,
.wrapper-schedule #space-register-add{
	position: relative;
	background-color: white;
	box-shadow: 2px 2px 2px 2px #a8a8a8;
	z-index: 30;
	width: 400px;
	height: 300px;
	margin-bottom: -300px;
	left: 150px;
}

.wrapper-schedule #space-register #sub,
.wrapper-schedule #space-register-add #sub-add{
	min-height: 50px;
	min-width: 100px;
	max-height: 120px;
	max-width: 300px;
}
.wrapper-schedule #year,
.wrapper-schedule #month,
.wrapper-schedule #day,
.wrapper-schedule #year-add,
.wrapper-schedule #month-add,
.wrapper-schedule #day-add,
.wrapper-schedule #oldStart {
	display: none;
}

.wrapper-schedule #error {
	color: red;
}
