@charset "UTF-8";

/*calendar.html*/
.wrapper-calendar {
	margin: 0 auto;
	max-width: 630px;
}

.wrapper-calendar .wrapper-frame {
	background-color: white;
	border: 1px solid #d9d9d9;
	margin-top: 40px;
	padding: 0 10px;
}

.wrapper-calendar .wrapper {
	margin: 0;
	color: #666;
}

.wrapper-calendar #header-title {
	text-align: center;
	font-size: 24px;
	width: 100%;
	margin: 1rem 0 0;
}

.wrapper-calendar #calendar {
	text-align: center;
	width: 100%;
}

.wrapper-calendar table {
	outline: 2px solid #ddd;
	border-collapse: collapse;
	width: 100%;
}

.wrapper-calendar th {
	color: #000;
}

.wrapper-calendar th,
.wrapper-calendar td {
	outline: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	padding-left: 6%;
	width: 50px;
	height: 30px;
	max-height: 30px;
}

.wrapper-calendar a {
	color:inherit;
	text-decoration: none;
}

.wrapper-calendar td.today .day-schedule {
	font-size: 16px;
	margin-left: 5px;

}

.wrapper-calendar td.other .day-schedule {
	font-size: 16px;
	margin-left: 5px;
}

/*日曜日*/
.wrapper-calendar td:first-child {
	color: red;
}

/*土曜日*/
.wrapper-calendar td:last-child {
	color: blue;
}

/*前後月の日付*/
.wrapper-calendar td.disabled {
	color: #ccc;
}

/*本日*/
.wrapper-calendar td.today {
	background-color: #ff9191;
	color: #fff;
}

/*ボタン*/
.wrapper-calendar #next-prev-button {
	position: relative;
	margin-bottom: 10px;
}

.wrapper-calendar #next-prev-button button {
	cursor: pointer;
	background: #fff;
	color: #00a2b7;
	border: 1px solid #0aa2b5;
	border-radius: 4px;
	font-size: 1rem;
	padding: 0.5rem 5px;
}

.wrapper-calendar #next-prev-button button:hover {
	background-color: #abd0d6;
	border-color: #abd0d6;
}

.wrapper-calendar #prev {
	float: left;
}

.wrapper-calendar #next {
	float: right;
}

.wrapper-calendar .footer-container-calendar {
	margin-top: 1em;
	border-top: 1px solid #dadada;
	padding: 10px 0;
}

.wrapper-calendar .footer-container-calendar select {
	cursor: pointer;
	display: inline-block;
	zoom: 1;
	background: #ffffff;
	color: #454545;
	border: 1px solid #bfc5c5;
	border-radius: 3px;
	padding: 5px 1em;
}

/*----------------------------------------------------------------------------------------*/

/*schedule.html*/
.wrapper-schedule {
	margin: -50px auto 0 auto;
}

.wrapper-schedule #register-date {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wrapper-schedule .time-schedule {
	overflow-y: scroll;
	max-height: 370px;
	max-width: 1200px;
	width:80%;
	border-top: 4px double black;
	border-bottom: 4px double black;
	margin: auto;
	background-color: #FCFEFD;
	border-left: solid 1px;
	border-left-color: #D9D9D9;
}

.wrapper-schedule .time-schedule p {
	overflow: hidden;
	display: flex;
	position: relative;
}

.wrapper-schedule .time {
	display: flex;
	padding: 0 1.5em 0 0.5em;
	position: relative;
	margin-top: 1rem;
}

.wrapper-schedule .time:after {
	border-top: 1px dotted;
	content: "";
	position: absolute;
	top: 50%;
	width: 99em;
}

.wrapper-schedule .time:after {
	left: 100%;
}

.wrapper-schedule .time-schedule .div-t,
.wrapper-schedule .time-schedule .div-s {
	outline: none;
	position: relative;
	border: none;
	left: 100px;
	width: 10px;
	z-index: 20;
	margin: 0;
	padding: 0;
}

.wrapper-schedule .time-schedule .div-t {
	background-color: #FFC3ED;
}

.wrapper-schedule .time-schedule .div-s {
	background-color: #CEC4FF;
}

.wrapper-schedule .time-schedule .div-t-all,
.wrapper-schedule .time-schedule .div-s-all {
	outline: none;
	position: relative;
	border: none;
	left: 170px;
	width: 10px;
	z-index: 20;
	margin: 0;
	padding: 0;
}

.wrapper-schedule .time-schedule .div-t-all {
	background-color: #FFC3ED;
}

.wrapper-schedule .time-schedule .div-s-all {
	background-color: #CEC4FF;
}

.wrapper-schedule .time-schedule input {
	outline: none;
	display: flex;
	position: relative;
	border: none;
	left: 110px;
}

.wrapper-schedule .time-schedule textarea {
	outline: none;
	display: flex;
	position: relative;
	border: none;
	left: 110px;
	resize: none;
}

.wrapper-schedule .time-schedule .line {
	background-color: #FCFEFD;
	z-index: 10;
	width: 60%;
	height: 51px;
	margin-bottom: -53px;
}

.wrapper-schedule .time-schedule #schedule-add {
	height: 0;
}

.wrapper-schedule .time-schedule .line-title,
.wrapper-schedule .time-schedule .line-sub {
	background-color: #CDFFED;
	z-index: 20;
	width: 60%;
}

.wrapper-schedule .time-schedule .line-title {
	font-weight:  bold;
	font-size: 16px;
}

.wrapper-schedule .time-schedule .line-sub {
	font-size: 12px;
}

.wrapper-schedule .time-schedule .line-title-all,
.wrapper-schedule .time-schedule .line-sub-all {
	background-color: #FFE7B8;
	z-index: 20;
	width: 60%;
	left: 180px;
}

.wrapper-schedule .time-schedule .line-title-all {
	font-weight:  bold;
	font-size: 16px;
}

.wrapper-schedule .time-schedule .line-sub-all {
	font-size: 12px;
}

.wrapper-schedule .time-schedule .line0 {
	/*一番上の位置が-1370px*/
	top: -1370px;
}

.wrapper-schedule .time-schedule .line1 {
	/*1時間増えるごとに56px増やす*/
	top: -1314px;
}

.wrapper-schedule .time-schedule .line2 {
	/*1時間増えるごとに56px増やす*/
	top: -1258px;
}

.wrapper-schedule .time-schedule .line3 {
	/*1時間増えるごとに56px増やす*/
	top: -1202px;
}

.wrapper-schedule .time-schedule .line4 {
	/*1時間増えるごとに56px増やす*/
	top: -1146px;
}

.wrapper-schedule .time-schedule .line5 {
    /*1時間増えるごとに56px増やす*/
    top: -1090px;
}

.wrapper-schedule .time-schedule .line6 {
	/*1時間増えるごとに56px増やす*/
	top: -1034px;
}

.wrapper-schedule .time-schedule .line7 {
	/*1時間増えるごとに56px増やす*/
	top: -978px;
}

.wrapper-schedule .time-schedule .line8 {
	/*1時間増えるごとに56px増やす*/
	top: -922px;
}

.wrapper-schedule .time-schedule .line9 {
	/*1時間増えるごとに56px増やす*/
	top: -866px;
}

.wrapper-schedule .time-schedule .line10 {
    /*1時間増えるごとに56px増やす*/
    top: -810px;
}

.wrapper-schedule .time-schedule .line11 {
	/*1時間増えるごとに56px増やす*/
	top: -754px;
}

.wrapper-schedule .time-schedule .line12 {
	/*1時間増えるごとに56px増やす*/
	top: -698px;
}

.wrapper-schedule .time-schedule .line13 {
	/*1時間増えるごとに56px増やす*/
	top: -642px;
}

.wrapper-schedule .time-schedule .line14 {
	/*1時間増えるごとに56px増やす*/
	top: -586px;
}

.wrapper-schedule .time-schedule .line15 {
    /*1時間増えるごとに56px増やす*/
    top: -530px;
}

.wrapper-schedule .time-schedule .line16 {
	/*1時間増えるごとに56px増やす*/
	top: -474px;
}

.wrapper-schedule .time-schedule .line17 {
	/*1時間増えるごとに56px増やす*/
	top: -418px;
}

.wrapper-schedule .time-schedule .line18 {
	/*1時間増えるごとに56px増やす*/
	top: -362px;
}

.wrapper-schedule .time-schedule .line19 {
	/*1時間増えるごとに56px増やす*/
	top: -306px;
}

.wrapper-schedule .time-schedule .line20 {
    /*1時間増えるごとに56px増やす*/
    top: -250px;
}

.wrapper-schedule .time-schedule .line21 {
	/*1時間増えるごとに56px増やす*/
	top: -194px;
}

.wrapper-schedule .time-schedule .line22 {
	/*1時間増えるごとに56px増やす*/
	top: -138px;
}

.wrapper-schedule .time-schedule .line23 {
	/*1時間増えるごとに56px増やす*/
	top: -82px;
}

.wrapper-schedule #back {
	padding: 8px 10px 8px 10px;
	margin-top: 10px;
	margin-left: 10%;
	font-size: 1em;
}
.wrapper-schedule #back:hover {
	cursor: pointer;
}
#back a {
	text-decoration: none;
	color: black;
}

/*登録用フォーム*/
.wrapper-schedule #form-register-show {
	width: 450px;
	margin-left: auto;
	margin-right: 0;
}

.wrapper-schedule #space-register,
.wrapper-schedule #space-register-add {
	/*position: relative;
	background-color: white;
	z-index: 30;
	width: 270px;
	height: 350px;
	margin-bottom: -350px;
	left: 200px;*/
	display: block;
	width: 270px;
	height: 350px;
	margin-bottom: -350px;
	margin-left: auto;
	margin-right: 0;
	background-color: red;
}

.wrapper-schedule #space-register #date,
.wrapper-schedule #space-register-add #date-add {
	margin-top:5px;
	text-align: center;
}

.wrapper-schedule #space-register #title,
.wrapper-schedule #space-register-add #title-add {
	margin-left: 10px;
	margin-top:5px;
}

.wrapper-schedule #space-register label,
.wrapper-schedule #space-register-add label {
	margin-left: 10px;
	margin-right: 35px;
	margin-top: 5px;
	display: inline-block;
}

.wrapper-schedule #space-register #sub,
.wrapper-schedule #space-register-add #sub-add {
	min-height: 50px;
	min-width: 200px;
	max-height: 100px;
	max-width: 200px;
	margin-left: 30px;
}

.wrapper-schedule #space-register #register {
	text-align: center;
	margin-left: 40%;
	margin-top: 10px;
}
.wrapper-schedule #space-register-add #update,
.wrapper-schedule #space-register-add #delete {
	text-align: center;
	margin-left: 20%;
	margin-top: 10px;
}

.wrapper-schedule #space-register #check,
.wrapper-schedule #space-register-add #checkAdd {
	margin-left: -30px;
}

.wrapper-schedule #year,
.wrapper-schedule #month,
.wrapper-schedule #day,
.wrapper-schedule #year-add,
.wrapper-schedule #month-add,
.wrapper-schedule #day-add,
.wrapper-schedule #old-start,
.wrapper-schedule #old-end,
.wrapper-schedule #sub-hide,
.wrapper-schedule #sub-hide-add,
.wrapper-schedule #judge-check,
.wrapper-schedule #judge-check-add {
	display: none;
}

.wrapper-schedule #error,
.wrapper-schedule #error-add {
	color: red;
	margin-top: 0px;
	margin-left: 5px;
}
