@charset "UTF-8";
body {
  background-color: #F8F8F8;
}

.first-text {
  font-size: 22px;
  text-align: center;
  margin-right: 5%;
  padding-right: 5%;
  display: inline-block;
}

.first-text2 {
  text-align: left;
  border-bottom: dashed 2px black;
  /* margin-right: 15%; */
  /* padding-right: 40%; */
  /* 変更後 */
  width: 350px;
  display: inline-block;
}

h2 {
  text-align: center;
  text-decoration: underline;
  /*text-align: right;*/
  font-size: 30px;
  margin-top: 180px;
  margin-right: 40%;
  /*padding-left: 70%*/
}

#text_top {
  display: flex;
  /*border: solid 1px #55ff55;*/
}

#text_left {
  width: 49.9%;
  height: 500px;
  /*border: solid 1px #7799FF;*/
  padding: 20px;
  margin-left: 90px;
}

#text_right {
  width: 49.9%;
  height: 500px;
  /* border: solid 1px #113498;*/
  padding: 20px;
  margin-left: 10px;
}

.box {
  width: 490px;
  height: 107px;
  padding: 30px;
  margin: 10px;
  background: #F8F8F8;
  border-top: 4px solid #66FF99;
  border-bottom: 4px solid #66FFFF;
  overflow: hidden;
  overflow-y: scroll;
}