@charset "UTF-8";
.wrapper_top .modal-open{
  margin: auto;
  cursor: pointer;
  border: none;
  width: 340px;
  font-size: 1.2em;
  text-align: left;
  background-color: #F8F8F8;
}
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.wrapper_top .modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}
/*モーダル本体の擬似要素の指定*/
.wrapper_top .modal-container:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.wrapper_top .modal-container.active{
  opacity: 1;
  visibility: visible;
}
/*モーダル枠の指定*/
.wrapper_top .modal-body{
  position: relative;
  top: 180px;
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
  width: 90%;
}
/*モーダルを閉じるボタンの指定*/
.wrapper_top .modal-close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.wrapper_top .modal-content{
  background: #fff;
  text-align: left;
  padding: 20px 30px 20px 30px;
}

.wrapper_top .first-text {
  font-size: 22px;
  text-align: center;
  margin-right: 5%;
  padding-right: 5%;
  display: inline-block;
  margin-bottom: 10px;
}

.wrapper_top .first-text2 {
  text-align: left;
  border-bottom: dashed 2px black;
  /* margin-right: 15%; */
  /* padding-right: 40%; */
  /* 変更後 */
  width: 350px;
  display: inline-block;
}

.wrapper_top h2 {
  text-align: center;
  width: 90%;
  /*text-align: right;*/
  font-size: 30px;
  margin-top: 130px;
  margin-right: 40%;
  /*padding-left: 70%*/
}

.wrapper_top #text_top {
  display: flex;
  /*border: solid 1px #55ff55;*/
}

.wrapper_top #text_left {
  width: 49.9%;
  height: 500px;
  margin-left: 90px;
  /*border: solid 1px #7799FF;*/

  /*padding: 10%;
  padding-right: 10px;
  text-align: center;
*/
}

.wrapper_top #text_right {
  width: 49.9%;
  height: 500px;
  /* border: solid 1px #113498;*/
  /*
  text-align: center;
  padding: 10%;
  padding-left: 15px;
  margin-left: -20px;
  */
}

.wrapper_top .box {
  width: 478px;
  height: 165px;
  padding: 20px;
  margin: 10px;
  background: #F8F8F8;
  border-top: 4px solid #66FF99;
  border-bottom: 4px solid #66FFFF;
  overflow: hidden;
  overflow-y: scroll;
}

.wrapper_top #date-show{
	text-align:center;
	font-size: 1.2em;
	margin-bottom: 0;
}

.wrapper_top #start-time {
	margin-top: 10px;
}

.wrapper_top #update-check {
	color: red;
	margin: 5px 0 0 0;
}

.wrapper_top #clear {
	margin: 5px 25px 0 35%;

}