@charset "UTF-8";
.modal-open{
  margin: auto;
  cursor: pointer;
}
/*モーダル本体の指定 + モーダル外側の背景の指定*/
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,50%);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  box-sizing: border-box;
}
/*モーダル本体の擬似要素の指定*/
.modal-container:before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
/*モーダル本体に「active」クラス付与した時のスタイル*/
.modal-container.active{
  opacity: 1;
  visibility: visible;
}
/*モーダル枠の指定*/
.modal-body{
  position: relative;
  top: 200px;
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
  width: 90%;
}
/*モーダルを閉じるボタンの指定*/
.modal-close{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-content{
  background: #fff;
  text-align: left;
  padding: 30px;
}
body {
  background-color: #F8F8F8;
}

.first-text {
  font-size: 22px;
  text-align: center;
  margin-right: 5%;
  padding-right: 5%;
  display: inline-block;
}

.first-text2 {
  text-align: left;
  border-bottom: dashed 2px black;
  /* margin-right: 15%; */
  /* padding-right: 40%; */
  /* 変更後 */
  width: 350px;
  display: inline-block;
}

h2 {
  text-align: center;
  text-decoration: underline;
  /*text-align: right;*/
  font-size: 30px;
  margin-top: 130px;
  margin-right: 40%;
  /*padding-left: 70%*/
}

#text_top {
  display: flex;
  /*border: solid 1px #55ff55;*/
}

#text_left {
  width: 49.9%;
  height: 500px;
  /*border: solid 1px #7799FF;*/
  padding: 20px;
  margin-left: 90px;
}

#text_right {
  width: 49.9%;
  height: 500px;
  /* border: solid 1px #113498;*/
  padding: 20px;
  margin-left: -20px;
}

.box {
  width: 478px;
  height: 85px;
  padding: 20px;
  margin: 10px;
  background: #F8F8F8;
  border-top: 4px solid #66FF99;
  border-bottom: 4px solid #66FFFF;
  overflow: hidden;
  overflow-y: scroll;
}